.tori .hae-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tori .hae-button:hover {
  background-color: lightgreen;
}
